*{
    font-family: sans-serif;
}
.title2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5%;
    margin-bottom: 8%;
}
.card{
    border: lightgrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media ((min-width: 768px) and (max-width: 900px)) {
    .img1{
        margin-top: 22%;
    }
}