<div class="container-fluid">
    <h2 class="text-center p-2 mb-4 bg-primary"><strong>ABOUT US</strong></h2>
    <div class="row">
       <div class="col-md-4 d-flex justify-content-center h-100"><img class="img1 img-fluid" src="assets/study.png" alt=""></div>
       <div class="col-md-7 mt-3 fs-5">
          <p>Linkcode Technologies providesa wide range of online software development and corporate training courses. With over 30+ courses available, you can choose from a variety of topics, including programming languages, data science, artificial intelligence, machine learning,the internet of things, and many more. Whether you're interested in enhancing your skills in a particular area orlearning something entirely new, Linkcode has a coursethat can help you achieve your goals.</p>
       </div>
    </div>
    
    <h2 class="title2 text-center">Why students choose Linkcode Technologies?</h2>
  
    <div class="row ms-5 mb-5 me-5">
        <div class="col-md-4">
            <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
              <p> Real-time industrial training is provided, allowing
                you to gain practical knowledge,Completing industry training can lead to a promising future.
              </p>
            </div>
            <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
              <p>The course is suitable for individuals with both engineering and non- engineering backgrounds.
              </p>
            </div>
            <div class="card shadow p-3 mb-5 bg-body-tertiary rounded" style="margin-top: 20%;">
              <p>You will have the opportunity to engage with industry experts,peers, and fellow students who are working with well-known organizations.
              </p>
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <img src="assets/Pic.png" class="" alt="">
        </div>
        <div class="col-md-4">
          <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
            <p>You can create your own app and participate in             Innovative technology development, which can enhanceyour skills and knowledge.
            </p>
          </div>
          <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
            <p>Professionals who are actively working in their field will teach you in an easy-to-understand language.
            </p>
          </div>
          <div class="card shadow p-3 mb-5 bg-body-tertiary rounded" style="margin-top: 18%;">
            <p>Linkcode has successfully placed hundreds of students in significant corporations across India, which is a testament to its effectiveness.
            </p>
          </div>
        </div>
    </div>
  </div>  