<div class="container-fluid">
    <h2 class="title text-center p-2 mb-4"><strong>PLACEMENTS</strong></h2>
</div>

<div class="row d-flex justify-content-center">
    <div class="col-md-10">
        <div id="placementCarousel" class="carousel slide" data-ride="carousel">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active text-center" id="slide1">
                        <div class="row">
                            <div class="col-sm mt-3">
                                <div class="card text-center" style="width: 12rem; margin-left: 5%;">
                                    <img src="assets/place1.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">SAKSHI</h5>
                                        <p class="card-text">SAP Lab<br>24.5 LPA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm mt-3 ">
                                <div class="card text-center" style="width: 12rem; margin-left: 5%;">
                                    <img src="assets/place2.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">SIDDHI</h5>
                                        <p class="card-text">Providence<br>20 LPA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm mt-3">
                                <div class="card text-center" style="width: 12rem; margin-left: 5%;">
                                    <img src="assets/place3.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">PRATIKSHA</h5>
                                        <p class="card-text">Dutsche Bank<br>19.63 LPA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm mt-3">
                                <div class="card text-center" style="width: 12rem; margin-left: 5%;">
                                    <img src="assets/place4.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">SAMRUDDHI</h5>
                                        <p class="card-text">Barclyas<br>15 LPA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm mt-3">
                                <div class="card text-center" style="width: 12rem; margin-left: 5%;">
                                    <img src="assets/place5.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">MAYURI</h5>
                                        <p class="card-text">Bajaj<br>12.81 LPA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm mt-3">
                                <div class="card text-center" style="width: 12rem; margin-left: 5%;">
                                    <img src="assets/place6.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">SWAPNALI</h5>
                                        <p class="card-text">Bajaj<br>12.81 LPA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm mt-3">
                                <div class="card text-center" style="width: 12rem; margin-left: 5%;">
                                    <img src="assets/place7.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">AVINASH</h5>
                                        <p class="card-text">Avaya<br>12.5 LPA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm mt-3">
                                <div class="card text-center" style="width: 12rem; margin-left: 5%;">
                                    <img src="assets/place8.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">SAURABH</h5>
                                        <p class="card-text">Credit Suisse<br>12 LPA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm mt-3">
                                <div class="card text-center" style="width: 12rem; margin-left: 5%;">
                                    <img src="assets/place9.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">AKSHAY</h5>
                                        <p class="card-text">EQ Technology<br>12 LPA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm mt-3">
                                <div class="card text-center" style="width: 12rem; margin-left: 5%;">
                                    <img src="assets/place10.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">SAYALI</h5>
                                        <p class="card-text">Optum<br>11.3 LPA</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item text-center" id="slide2">
                        <div class="row">
                            <div class="col-sm mt-3">
                                <div class="card text-center" style="width: 12rem; margin-left: 5%;">
                                    <img src="assets/place11.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">SHRUTI</h5>
                                        <p class="card-text">Neilseniq<br>10 LPA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm mt-3 ">
                                <div class="card text-center" style="width: 12rem; margin-left: 5%;">
                                    <img src="assets/place12.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">NEELAM</h5>
                                        <p class="card-text">FIS<br>8.65 LPA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm mt-3">
                                <div class="card text-center" style="width: 12rem; margin-left: 5%;">
                                    <img src="assets/place13.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">ACHAL</h5>
                                        <p class="card-text">Neostats Ana. Sol.<br>8 LPA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm mt-3">
                                <div class="card text-center" style="width: 12rem; margin-left: 5%;">
                                    <img src="assets/place14.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">MAYURI</h5>
                                        <p class="card-text">Accenture<br>7 LPA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm mt-3">
                                <div class="card text-center" style="width: 12rem; margin-left: 5%;">
                                    <img src="assets/place15.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">SURAJ</h5>
                                        <p class="card-text">Bestol<br>7 LPA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm mt-3">
                                <div class="card text-center" style="width: 12rem; margin-left: 5%;">
                                    <img src="assets/place16.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">KALYANI</h5>
                                        <p class="card-text">Vitara<br>6.5 LPA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm mt-3">
                                <div class="card text-center" style="width: 12rem; margin-left: 5%;">
                                    <img src="assets/place17.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">SHRIYANSH</h5>
                                        <p class="card-text">Brillio<br>6.5 LPA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm mt-3">
                                <div class="card text-center" style="width: 12rem; margin-left: 5%;">
                                    <img src="assets/place18.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">ABHISHEK</h5>
                                        <p class="card-text">Mindtree<br>5.5 LPA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm mt-3">
                                <div class="card text-center" style="width: 12rem; margin-left: 5%;">
                                    <img src="assets/place19.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">TRUPTI</h5>
                                        <p class="card-text">KPIT<br>5.5 LPA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm mt-3">
                                <div class="card text-center" style="width: 12rem; margin-left: 5%;">
                                    <img src="assets/place20.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">ADITYA</h5>
                                        <p class="card-text">Infosys<br>5 LPA</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item text-center" id="slide3">
                        <div class="row">
                            <div class="col-sm mt-3">
                                <div class="card text-center" style="width: 12rem; margin-left: 5%;">
                                    <img src="assets/place21.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">MAYUR</h5>
                                        <p class="card-text">Zycus<br>5 LPA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm mt-3 ">
                                <div class="card text-center" style="width: 12rem; margin-left: 5%;">
                                    <img src="assets/place22.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">SANSKRUTI</h5>
                                        <p class="card-text">Ey Gds<br>4.83 LPA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm mt-3">
                                <div class="card text-center" style="width: 12rem; margin-left: 5%;">
                                    <img src="assets/place23.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">PRACHI</h5>
                                        <p class="card-text">Persistent<br>4.75 LPA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm mt-3">
                                <div class="card text-center" style="width: 12rem; margin-left: 5%;">
                                    <img src="assets/place24.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">SHRADDHA</h5>
                                        <p class="card-text">Persistent<br>4.71 LPA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm mt-3">
                                <div class="card text-center" style="width: 12rem; margin-left: 5%;">
                                    <img src="assets/place25.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">SHUBHAM</h5>
                                        <p class="card-text">Xorierit<br>4.5 LPA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm mt-3">
                                <div class="card text-center" style="width: 12rem; margin-left: 5%;">
                                    <img src="assets/place26.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">DIVYA</h5>
                                        <p class="card-text">Cognizant<br>4.5 LPA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm mt-3">
                                <div class="card text-center" style="width: 12rem; margin-left: 5%;">
                                    <img src="assets/place27.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">SHRADDHA</h5>
                                        <p class="card-text">Accenture<br>4.5 LPA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm mt-3">
                                <div class="card text-center" style="width: 12rem; margin-left: 5%;">
                                    <img src="assets/place28.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">ADARSH</h5>
                                        <p class="card-text">Cognizant<br>4.5 LPA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm mt-3">
                                <div class="card text-center" style="width: 12rem; margin-left: 5%;">
                                    <img src="assets/place29.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">AYUSHI</h5>
                                        <p class="card-text">Accenture<br>4.5 LPA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm mt-3">
                                <div class="card text-center" style="width: 12rem; margin-left: 5%;">
                                    <img src="assets/place30.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">SHIVANI</h5>
                                        <p class="card-text">Persistent<br>4.5 LPA</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container text-center mt-4">
                    <ul class="pagination">
                        <div class="carousel-indicators">
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide="prev"><a href="">«</a></li>
                            <li class="active" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                aria-current="true"><a>1<span class="sr-only"></span></a></li>
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"><a>2</a></li>
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"><a>3</a></li>
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide="next"><a href="">»</a></li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<h2 class="text-center my-5"><strong>Our Students Placed at</strong></h2>
<div class="companies row d-flex justify-content-center">
    <div class="col-md-10">
        <div class="text-center company-logos">
            <div class="row my-3">
                <div class="col">
                    <img src="assets/Ms.png" alt="Microsoft">
                </div>
                <div class="col">
                    <img src="assets/Cognizant.png" alt="Cognizant">
                </div>
                <div class="col">
                    <img src="assets/Providence.png" alt="Providence">
                </div>
                <div class="col">
                    <img src="assets/Accenture.png" alt="Accenture">
                </div>
            </div>
            <div class="row my-3">
                <div class="col">
                    <img src="assets/Barclays.png" alt="Barclays">
                </div>
                <div class="col">
                    <img src="assets/Persistent.png" alt="Persistent">
                </div>
                <div class="col">
                    <img src="assets/Capgemini.png" alt="Capgemini">
                </div>
                <div class="col">
                    <img src="assets/BNY_Mellon.png" alt="BNY Mellon">
                </div>
            </div>
            <div class="row my-3">
                <div class="col">
                    <img src="assets/Bajaj.png" alt="Bajaj">
                </div>
                <div class="col">
                    <img src="assets/SAP.png" alt="SAP">
                </div>
                <div class="col">
                    <img src="assets/AVAYA.png" alt="Avaya">
                </div>
                <div class="col">
                    <img src="assets/Deutsche.png" alt="Deutsche Bank">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>